/* background pattern */
body{
    background-image: url("../images/morocco.png");
    background-repeat: repeat;
    height: 100%;
    line-height: 1.5em;
    color: #41414c;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.navbar {
    color: #eff0f1;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    background: #666666;
    color: #8d8d8d;
    height: 3em;
    padding: 1em;
}

a:hover {
    text-shadow: 0 0 5px #b89fbd;
    text-decoration: none;
    color: currentColor;
}
a {
    color:inherit; 
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    /* border: solid red 3px; */
    padding: 10px;
    padding-right: 30px; 
}

/* have all of the divs be in boxes */

#title, #instructions, #numbers, #counter, #stage  {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-content: center;
    /* border: solid red 3px; */
    border: solid #dddddd 3px;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

#title {
    background-color: #b89fbd;
    text-align: center;
    margin-top: 75px;
}

#instructions {
    background-color: #8faeca;
}

#numbers {
    background-color: #df8511;
}

#counter {
    background-color: #98a1a9;
}

#stage {
    margin-bottom: 75px;
}

.crystal {
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
}